<div id="footer">
	<div class="inner">
		<div class="footer-block">
			<a href="/" class="footer-logo">
				<img src="<%= RELATIVE_PATH %>img/logo-white.svg" alt="Concepts Japan">
			</a>
			<ul class="footer-sns">
				<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-youtube.svg" alt="youtube"></a></li>
				<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-facebook.svg" alt="facebook"></a></li>
				<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-twitter.svg" alt="twitter"></a></li>
				<li><a href="" target="_blank"><img src="<%= RELATIVE_PATH %>img/icon-q.svg" alt="img"></a></li>
			</ul>
			<nav class="footer-nav">
				<ul class="footer-menu">
					<li>
						<a href="#business" class="js-scroll"><span class="c-ft--en">IT Concepts Japan for Business</span>とは</a>
					</li>
					<li>
						<a href="#about" class="js-scroll">特徴</a>
					</li>
					<li>
						<a href="#customer" class="js-scroll">お客様の声</a>
					</li>
					<li>
						<a href="#comparison" class="js-scroll">導入実績</a>
					</li>
					<li>
						<a href="#question" class="js-scroll">よくある質問</a>
					</li>
					<li>
						<a href="">特定商取引法に基づく表示</a>
					</li>
					<li>
						<a href="">プライバシーポリシー</a>
					</li>
					<li>
						<a href="">利用規約</a>
					</li>
					<li>
						<a href="">お問い合わせ</a>
					</li>
				</ul>
			</nav>
		</div>
		<a href="" class="box-mail">
			<img src="<%= RELATIVE_PATH %>img/icon-mail.svg" alt="お問い合わせ">
			<span>お問い合わせ</span>
		</a>
	</div>
	<div class="copyright">
		Copyright © 2023 Azure, GCP, CompTIA試験に合格するなら IT Concepts Japan All Rights Reserved.
	</div>
</div>