<div class="main-page">
	<section class="top-mv">
		<div class="mv-all">
			<div class="inner">
				<div class="mv-heading">
					<img src="<%= RELATIVE_PATH %>img/logo-mv.svg" alt="Concepts Japan">
					<h1>
						組織<small>の</small>力<small>を</small>最大化<small>する</small><br>
						ITクラウド試験<small>の</small><span class="mv-heading--note">決定版問題集</span>
					</h1>
				</div>
			</div>
			<div class="mv-bottom">
				<div class="mv-block__item">
					<div class="mv-block">
						<h2 class="mv-block__ttl"><span>対応資格</span></h2>
						<div class="mv-block__img">
							<img src="<%= RELATIVE_PATH %>img/item-mv.png" alt="対応資格" class="pc">
							<img src="<%= RELATIVE_PATH %>img/item-mv-sp.png" alt="対応資格" class="sp">
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<section class="top-business">
		<div class="inner">
			<h2 class="c-ttl__01">IT Concepts Japan for Business <span class="c-ft--jp">とは</span></h2>
			<div class="business-note">
				<p>
					IT Concepts Japanの提供する問題集を<br>
					フル活用することができる「プレミアム会員」の登録を、法人様向けに<br>
					一括で発行するサービスとなります。
				</p>
				<p>
					「期間×人数」をご指定いただくことで、<br>
					法人ディスカウント付きのプレミアム会員アカウントを、<br>
					貴社ご利用分だけご用意いたします。
				</p>
			</div>
			<div class="business-block">
				<div class="business-block__item business-block__item--01">
					<img src="<%= RELATIVE_PATH %>img/business-img-01.png" alt="プレミアムプランと同じフルサービス">
				</div>
				<div class="business-block__item business-block__item--02">
					<img src="<%= RELATIVE_PATH %>img/business-img-02.png" alt="さらにお得に!">
				</div>
				<div class="business-block__item business-block__item--03">
					<a href="">個人プラン・プレミアムプランについてはこちら→</a>
				</div>
			</div>
		</div>
	</section>
</div>