<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title><%= pageData.title %></title>
	<meta name="description" content="<%= pageData.description %>">
	<meta name="keywords" content="<%= pageData.keyword %>">
	<meta name="format-detection" content="telephone=no">

	<!---->
	<link rel='stylesheet' id='cocoon-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/style.css?ver=6.7&#038;fver=20241106011711' media='all' />
	<link rel='stylesheet' id='cocoon-keyframes-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/keyframes.css?ver=6.7&#038;fver=20241004053518' media='all' />
	<link rel='stylesheet' id='font-awesome-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/webfonts/fontawesome/css/font-awesome.min.css?ver=6.7&#038;fver=20241004053518' media='all' />
	<link rel='stylesheet' id='icomoon-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/webfonts/icomoon/style.css?v=2.7.0.2&#038;ver=6.7&#038;fver=20241106011112' media='all' />
	<link rel='stylesheet' id='baguettebox-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/plugins/baguettebox/dist/baguetteBox.min.css?ver=6.7' media='all' />
	<link rel='stylesheet' id='cocoon-skin-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-master/skins/veilnui-simplog-indigo/style.css?ver=6.7&#038;fver=20241106011711' media='all' />

	<link rel='stylesheet' id='cocoon-child-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/style.css?ver=6.7&#038;fver=20241106011711' media='all' />
	<link rel='stylesheet' id='cocoon-child-keyframes-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/keyframes.css?ver=6.7&#038;fver=20241004053518' media='all' />
	<link rel='stylesheet' id='custom-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/css/custom-style.css?ver=6.7&#038;fver=20241106011112' media='all' />
	<link rel='stylesheet' id='swiper-bundle-style-css' href='https://unpkg.com/swiper@8/swiper-bundle.min.css?ver=6.7' media='all' />
	<link rel='stylesheet' id='swiper-min-style-css' href='https://unpkg.com/swiper@8/swiper.min.css?ver=6.7' media='all' />
	<link rel='stylesheet' id='fontawesome-css' href='https://use.fontawesome.com/releases/v5.15.4/css/all.css?ver=6.7' media='all' />
	<link rel='stylesheet' id='oc-blog-style-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/css/oc-blog-style.css?ver=6.7&#038;fver=20241106011112' media='all' />
	<link rel='stylesheet' id='oc-theme-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/css/oc-theme.css?ver=6.7&#038;fver=20241004053517' media='all' />
	<link rel='stylesheet' id='oc-theme-corporate-css' href='https://stg.it-concepts-japan.com/wp-content/themes/cocoon-child-master/css/oc-theme-corporate.css?ver=6.7&#038;fver=20241106031518' media='all' />
	<!---->


	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>js/slick/slick-theme.css">
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>js/slick/slick.css">
	<link type="text/css" rel="stylesheet" href="<%= RELATIVE_PATH %>css/oc-theme-corporate.css">
</head>
<body>

	<%- include('common/_header'); %>
	<%- include(pageData.template, {datalabel:'data'}) %>
	<%- include('common/_footer'); %>



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js?ver=3.6.1" id="jquery-core-js"></script>
	<script src="<%= RELATIVE_PATH %>js/slick/slick.min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/jquery.matchHeight-min.js"></script>
	<script src="<%= RELATIVE_PATH %>js/oc-theme-corporate.js"></script>
</body>
</html>